<div class="home-container"
  ><div class="home-home"
    ><div class="home-bg"
      ><img
        alt="bg82"
        src="/assets/external/bg82-mh93-2000w.png"
        class="home-bg1" /><img
        alt="Vector11712"
        src="/assets/external/vector11712-084.svg"
        class="home-vector1" /><img
        alt="Rectangle31713"
        src="/assets/external/rectangle31713-m3n4-2000w.png"
        class="home-rectangle3" /><img
        alt="Ellipse183"
        src="/assets/external/ellipse183-208q.svg"
        class="home-ellipse1" /><img
        alt="Ellipse285"
        src="/assets/external/ellipse285-gh4h.svg"
        class="home-ellipse2" /><img
        alt="Rectangle41715"
        src="/assets/external/rectangle41715-on5f-400h.png"
        class="home-rectangle4" /></div
    ><div class="home-title-home-page"
      ><div class="home-maskgroup"
        ><span class="home-text"
          ><span
            >Modus Vivendi
            <span [innerHTML]="rawj4v4"></span></span></span></div
      ><div class="home-maskgroup1"
        ><span class="home-text02"
          ><span
            >reprezintă spiritul creativ al unor tineri orădeni.</span
          ></span
        ></div
      ></div
    ><img
      alt="siglamvmare121"
      src="/assets/external/siglamvmare121-wme-600w.png"
      class="home-siglamvmare" /><div class="home-indicatorpage"
      ><img
        alt="Indicatoracasa176"
        src="/assets/external/indicatoracasa176-cdzr.svg"
        class="home-indicatoracasa" /></div
    ><div class="home-homenavbar"
      ><div class="home-navbar"
        ><img
          alt="siglamvI846"
          src="/assets/external/siglamvi846-pd5m4-200h.png"
          class="home-siglamv" /><span class="home-text04"
          ><span>Acasă</span></span
        ><span class="home-text06"><span>Despre noi</span></span
        ><span class="home-text08"><span>Proiecte</span></span
        ><span class="home-text10"><span>Sponsori</span></span
        ><div class="home-indicatoare"
          ><div class="home-indicatorhome"
            ><img
              alt="IndicatoracasaI846"
              src="/assets/external/indicatoracasai846-s93w.svg"
              class="home-indicatoracasa1" /></div
          ><div class="home-indicatordesprenoi"></div
          ><div class="home-indicatorproiecte"></div
          ><div class="home-indicatorcontact"></div></div></div></div
    ><div class="home-info"
      ><div class="home-group1"
        ><span class="home-text12"
          ><span
            >Află mai multe despre noi
            <span [innerHTML]="raw312d"></span></span></span
        ><span class="home-text14"
          ><span
            >De la înființare pană acum am fost implicați în foarte multe
            proiecte, nu doar concursuri naționale. De asemenea, află mai multe
            și despre oamenii din spatele efortului colectiv al echipei!</span
          ></span
        ></div
      ><div class="home-group2"
        ><span class="home-text16"
          ><span>Oamenii din spatele echipei</span><br /><span></span></span
        ><span class="home-text20"><span>Proiecte</span></span
        ><span class="home-text22"><span>Sponsori</span></span
        ><span class="home-text24"
          ><span
            >În spatele tuturor proiectelor duse la capăt, concursurilor la care
            am participat, și a tuturor evenimentelor organizate stă efortul și
            sacrifciul colectiv a mai multor tineri.</span
          ></span
        ><img
          alt="fluentpeopleteam16filled1230"
          src="/assets/external/fluentpeopleteam16filled1230-mcth.svg"
          class="home-fluentpeopleteam16filled"
        /><span class="home-text26"
          ><span
            >Numele nostru se bazează pe nenumărate proiecte finalizate cu
            ajutorul căruia am contribuit pozitiv în comunitatea care ne-a
            crescut.</span
          ></span
        ><img
          alt="eosiconsproject1232"
          src="/assets/external/eosiconsproject1232-onka.svg"
          class="home-eosiconsproject"
        /><img
          alt="materialsymbolshandshake1234"
          src="/assets/external/materialsymbolshandshake1234-cwt9.svg"
          class="home-materialsymbolshandshake"
        /><span class="home-text28"
          ><span
            >Tot efortul și sacrificul colectiv se bazează pe ajutorul finaciar
            acordat de sponsorii noștri, care au decis să contribuie la
            dezvoltarea pozitivă a comunității în care activează. Le mulțumim
            din inimă pentru că au fost alături de noi la bine, dar și la
            greu!</span
          ></span
        ><div class="home-aflmaimultedesprenoiaici"
          ><span class="home-text30"
            ><span>Află mai multe despre noi aici!</span></span
          ></div
        ><div class="home-aflmaimultedespreproiectelenoastreaici"
          ><span class="home-text32"
            ><span>Află mai multe despre proiectele noastre aici!</span></span
          ></div
        ><div class="home-aflmaimultedespresponsoriinotriiaici"
          ><span class="home-text34"
            ><span>Află mai multe despre sponsorii noștrii aici!</span></span
          ></div
        ></div
      ><span class="home-text36"
        ><span>Momente importante din povestea noastră</span></span
      ></div
    ><div class="home-videotitles"
      ><span class="home-text38"
        ><span class="home-text39">Youtube</span
        ><span> / Oct 22, 2021</span></span
      ><span class="home-text41"
        ><span class="home-text42">Youtube</span
        ><span> / Oct 18, 2020</span></span
      ><span class="home-text44"
        ><span class="home-text45">Youtube</span
        ><span> / Oct 3, 2019</span></span
      ><span class="home-text47"
        ><span>RO061 FREIGHT FRENZY | 2021-2022</span></span
      ><span class="home-text49"
        ><span>RO061 Modus Vivendi - ULTIMATE GOAL | 2020-2021</span></span
      ><span class="home-text51"
        ><span>RO061 Modus Vivendi- SkyStone-2019-2020</span></span
      ><span class="home-text53"><span>Află mai multe</span></span
      ><span class="home-text55"><span>Află mai multe</span></span
      ><span class="home-text57"><span>Află mai multe</span></span></div
    ><div class="home-videos"
      ><img
        alt="FrightFrenzy1713"
        src="/assets/external/frightfrenzy1713-67qi-400h.png"
        class="home-fright-frenzy" /><img
        alt="UltimateGoal1713"
        src="/assets/external/ultimategoal1713-2wt-400h.png"
        class="home-ultimate-goal" /><img
        alt="SkyStone1713"
        src="/assets/external/skystone1713-r7q2-400h.png"
        class="home-sky-stone" /></div
    ><div class="home-bottom"
      ><div class="home-frame1"
        ><img
          alt="modusvivendilogotransparentmare12140"
          src="/assets/external/modusvivendilogotransparentmare12140-6sfs-200h.png"
          class="home-modusvivendilogotransparentmare1" /><img
          alt="eminescutransparent12138"
          src="/assets/external/eminescutransparent12138-63ef-200h.png"
          class="home-eminescutransparent1" /></div
      ><span class="home-text59"
        ><span
          >Să nu uitați să ne dați follow pe social media pentru a fi la curent
          cu activitatea noastră!</span
        ></span
      ><div class="home-group3"
        ><div class="home-frame2"
          ><span class="home-text61"><span>Youtube</span></span
          ><span class="home-text63"><span>Instagram</span></span
          ><span class="home-text65"><span>Facebook</span></span></div
        ><span class="home-text67"><span>Rețele Sociale</span></span
        ><span class="home-text69"><span>Contact</span></span
        ><span class="home-text71"
          ><span class="home-text72">Adresa</span
          ><span class="home-text73"
            >: Strada Episcop Roman Ciorogariu 18, Oradea , Bihor, Romania</span
          ><br /><span class="home-text75"></span
          ><span class="home-text76">Email</span
          ><span class="home-text77">: <span [innerHTML]="raw06h7"></span></span
          ><span class="home-text78">modusvivendior@gmail.com</span><br /><span
            class="home-text80"
          ></span
          ><span class="home-text81">Telefon</span
          ><span>: Contactați-ne!</span></span
        ></div
      ><img
        alt="Lineretele2252"
        src="/assets/external/lineretele2252-e1ji.svg"
        class="home-lineretele" /><img
        alt="Linecontact2253"
        src="/assets/external/linecontact2253-1mvi.svg"
        class="home-linecontact" /></div></div
></div>
